body {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: 600;
}

main {
  width: 90%;
  margin: 0 auto;
}
header {
  margin: 0 0 2%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  box-shadow: 2px 2px 10px#64d370;
}
a {
  color: #64d370;
  cursor: pointer;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.small {
  font-size: small;
}
.big {
  font-size: large;
}

button {
  background-color: #64d370;
  font-family: Montserrat;
  color: white;
  padding: 4% 8%;
  margin-right: 2%;
  text-wrap: nowrap;
  font-weight: 600;
  border: none;
  border-radius: 15px;
}
.btnimg {
  width: 100%;
}
header a {
  color: black;
  text-decoration: none;
}
header .flex {
  width: 60%;
}
header div:nth-child(3),
footer .big {
  text-align: right;
}
header a:hover {
  color: #64d370;
  transition: 0.3s;
}
footer {
  margin: 2% auto 0;
  padding: 2% 5%;
  text-align: left;
  box-shadow: -2px -2px 10px#64d370;
}
footer .flex {
  width: auto;
}
footer div:nth-child(2) {
  color: rgba(0, 0, 0, 0.7);
}

/*карты*/
.delivery-map {
  width: 50%;
  height: 400px;
}
